$spacer__small: 0.025rem;

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    background-color: transparentize($color: $colour__white, $amount: 0.05);

    &__open {
        display: flex;
    }

    &__close {
        position: absolute;
        right: 1rem;
        border: none;
        font-size: 3.5rem;
        background-color: transparent;
        font-family: monospace;
    }

    &__list {
        display: flex;
        position: absolute;
        bottom: 1rem;
        width: 100%;
        justify-content: center;

        @include mobile(0, $mobile-size) {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            bottom: $spacer__small;
            padding: 0 0.5rem;
        }

        li {
            margin-right: 0.4rem;

            @include mobile(0, $mobile-size) {
                margin: 0;
                padding: $spacer__small;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }

        img {
            width: 100%;
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: calc(100% - 7rem);
        overflow-y: auto;
        margin: 0 auto;

        @include mobile(0, $mobile-size) {
            height: calc(100% - 10rem);
        }

        &--inner {
            padding: 6rem;

            @include mobile(0, $mobile-size) {
                padding: 0.5rem;
            }
        }

        img {
            width: 100%;
        }
    }
}
