html.posts {
    video,
    audio,
    iframe {
        width: 100%;
    }

    .posts {
        li {
            position: relative;
            background-color: $colour__grey--palest;
            height: 200px;
            overflow: hidden;

            @include tablet($tablet-size) {
                height: unset;
                overflow: unset;
            }

            > a {
                &:hover img {
                    @include hover($animation__type-default, $animation__speed-fast, $animation__ease-default);
                    opacity: 0.2;

                    @include tablet($tablet-size) {
                        opacity: 1;
                    }
                }
            }

            a {
                color: $colour__black;
            }
            
            img {
                object-fit: cover;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;

                @include tablet($tablet-size) {
                    position: unset;
                }
            }
        }
    }
}