.loading {
    @include hover(opacity, $animation__speed-default, $animation__ease-default);
    opacity: 0.7;
    pointer-events: none;

    &:before {
        @include rotate-anim('1');
        @include hover(opacity, $animation__speed-default, $animation__ease-default);
        font-family: $icon-font;
        content: "\f29c";
        position: fixed;
        top: 1rem;
        right: 1rem;
    }
}

.scroll-lock {
    position: fixed;
    overflow: hidden;
    width: 100%;
}